@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Roboto:wght@300;400&display=swap');


:root {
  --primary: hsl(46, 65%, 52%); /* Dourado/Atenção */
  --bg: hsl(0, 0%, 7%);
  --text: hsl(0, 0%, 88%);
  --accent: hsl(0, 68%, 42%); /* Vermelho escuro */
}

body 
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
}

.card {
  background-color: hsl(0, 0%, 15%);
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  border: 4px solid hsl(0, 0%, 70%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
button 
{
  border: 2px solid var(--text);
  background-color: var(--accent);
  height: 90%;
  width: 90%;
  border-radius: 100%;
  font-size: xxx-large;
  font-family: 'Oswald';
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s linear;
}
button:hover {
  background-color: hsl(0, 68%, 35%);
}
button:focus{
  background-color: hsl(0, 68%, 35%);
  height: 80%;
  width: 80%;
}

.sources h3 {
  font-size: x-large;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary);
  display: block;
  line-height: 1.1;
}

.ref ul {
  background-color: hsl(0, 0%, 10%);
  border-radius: 10px;
  padding: 5px;
  list-style: none;
  box-shadow: 0px 0px 10px 1px white;
}

li {
  border-radius: 3px;
  background-color: hsl(0, 0%, 25%);
  padding: 7px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease-in;
}

a {
  color: rgb(216, 216, 216);
  text-decoration: none;
  font-family: 'Oswald';
  font-weight: 500;
  transition: all 0.5s linear;
}
a:hover {
  color: var(--primary);
  text-decoration: underline;
}
li:hover{
  transform: translate(0px, -5px);
}